details {
    width: 80%;
    margin: 0 auto;
    background: rgb(40, 40, 40);
    margin-bottom: 0.5rem;
    box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}

summary {
    padding: 1rem;
    display: block;
    background: rgb(51, 51, 51);
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}

summary:before {
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

button {
    margin: 0 auto;
    background: rgb(51, 51, 51);
    margin-bottom: 0.5rem;
    border: none;
    color: rgb(255, 255, 255);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    padding: 0.7rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

body {
    background-color: rgb(17, 34, 51);
    color: rgb(255, 255, 255);
    width: 400px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    user-select: none;
}
br, div {
    user-select: none;
}

input[type=text], input[type=url] {
    background-color: rgb(51, 51, 51);
    border: none;
    outline: none;
    color: white;
    padding: 0.7rem 2rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }